<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rolnik.akord">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main_activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.akord_activity.AkordActivity_" android:parentActivityName=".activities.main_activity.MainActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main_activity.MainActivity_" />
        </activity>
        <activity android:name=".activities.export_activity.ExportActivity_" android:parentActivityName=".activities.main_activity.MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main_activity.MainActivity_" />
        </activity>
        <activity android:name=".activities.overview_activity.OverviewActivity_" android:parentActivityName=".activities.main_activity.MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main_activity.MainActivity_" />
        </activity>
        <activity android:name=".activities.settings_activity.SettingsActivity_" android:parentActivityName=".activities.main_activity.MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main_activity.MainActivity_" />
        </activity>
    </application>

</manifest>